<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>ThaïExpress - {% block title %}Bienvenue !{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Playball' rel='stylesheet' type='text/css'>
        {{ encore_entry_link_tags('app') }}
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        <!-- Favicon -->
        <link rel="icon" type="image/png" href="/images/ico/logo.png" />
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% include 'shared/header.html.twig' %}
        {% block body %}{% endblock %}
        {% include 'shared/footer.html.twig' %}
        {{ encore_entry_script_tags('app') }}
        {% block javascripts %}{% endblock %}
    </body>
</html>
