<footer class="sub_footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <p class="sub-footer-text text-center">Contact : <a
                            href="mailto:birnagerald.pro@gmail.com">birnagerald.pro@gmail.com</a></p>
                </div>
                <div class="col-md-8">
                    <p class="sub-footer-text text-center">Designed by James Thammaxoth | Code by Gérald Birna<br>Tous
                        droits réservés &copy
                    </p>
                </div>
            </div>
            
        </div>
</footer>